.seniors .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 20px;
}

.seniors .card {
  padding: 30px 20px;
  background: rgba(75, 75, 75, 0.298);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.seniors .card .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--bgColor5);
}
.seniors .card .photo img {
  width: 100%;
}

.seniors .card .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.seniors .card .details * {
  color: white;
}
.seniors .card .name {
  font-size: 20px;
  max-width: 200px;
}
.seniors .card .roll {
  font-size: 18px;
  font-weight: 600;
  color: var(--primaryColorSkyBlue);
  margin: 7px 0;
}
.seniors .card p span {
  font-weight: 600;
  color: rgb(180, 212, 255) !important;
}
.seniors .card .bio {
  font-size: 18px;
  font-weight: 00;
  margin-top: 15px;
  color: rgb(255, 255, 255) !important;
  padding: 15px;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  overflow: hidden;
}
.seniors .card .social_links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.seniors .card .social_links a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}